@use 'variables' as *;
@use 'mixins';

.order-fail {
	@include mixins.flex(column);
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;

	&::before {
		content: ' ';
		@include mixins.background('../images/Substract-fail.png');
		width: 256px;
		height: 256px;
	}

	&__close {
		margin-top: 2rem;
	}
}
